/* images and logos */

.react-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  background-image: url('./icons/react_icon.png');
}

.angular-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  background-image: url('./icons/angular_icon.png');
}

.vue-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  background-image: url('./icons/vuejs_icon.png');
}

.react-logo {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 40px;
}
  
.angular-logo {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 40px;
}
  
.vue-logo {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 40px;
}


/* header and logo  */

.title {
  margin-left: -40px;
  display: inline-flex;
}

.hook-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  position: relative;
  transform: scaleX(-1) rotate(15deg);
}

.logo {
  font-size: clamp(1.8rem, 2rem, 2.5rem);
  font-weight: bold;
  line-height: 28px;
}

a:link, 
a:visited,
a:hover,
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.caret {
  width: 35px;
  height: 35px;
  bottom: 30px;
  left: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  position: relative;
  background-image: url(./icons/caret.png);
}

.react-name {
  margin-left: 10px;
  margin-top: 35px;
  font-size: 2.1rem;
  font-weight: bolder;
  line-height: 28px;
  color: #61DBFB;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Roboto Mono', monospace;
}

.angular-name {
  margin-left: -10px;
  margin-top: 35px;
  font-size: 2.1rem;
  font-weight: bolder;
  line-height: 28px;
  color: #dd1b16;
  text-shadow: 1px 0 0 #a6120d, 0 -1px 0 #a6120d, 0 1px 0 #a6120d, -1px 0 0 #a6120d;
  font-family: 'Roboto Mono', monospace;
}

.vue-name {
  margin-left: 25px;
  margin-top: 35px;
  font-size: 2.1rem;
  font-weight: bolder;
  line-height: 28px;
  color: #42b883;
  text-shadow: 1px 0 0 #35495e, 0 -1px 0 #35495e, 0 1px 0 #35495e, -1px 0 0 #35495e;
  font-family: 'Roboto Mono', monospace;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 8vh;
  font-family: 'Roboto Mono', monospace;
}

.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  margin-left: -50px;
  margin-top: 50px;
}

nav li, note li {
  list-style: none;
}

/* coming soon text and logo */

.coming-soon {
  margin-top: 5%;
  margin-left: 40%;
}

.maintenance-logo {
  width: 30%;
}

.coming-soon-text {
  margin-left: 28%;
  color: rgb(117, 113, 113);
  font-size: 90px;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
}

/* main page main text */

.overview {
  font-size: clamp(1rem, 10vw, 2rem); 
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  display: block;
  font-family: 'Roboto Mono', monospace;
}

main p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
}

/* JS option container */

.option-container {
  align-content: center;
  justify-content: center;
}

.option-column {
  float: left;
  width: 33.33%;
  height: 500px;
  margin-bottom: 75px;
}

/* note section */

.main-section {
  margin-left: 40px;
  margin-top: 50px;
}

.note-section {
  padding-top: 25px;
}

.hook-name {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 28px;
  font-family: 'Roboto Mono', monospace;
}

.note {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  display: block;
  margin-top: 20px;
}

.note ul {
  list-style: none;
  margin-left: -35px;
}

.code-block-small{
  width: 700px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  background-color: rgba(240, 230, 230, 0.637);
}

.code-block {
  width: 700px;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  background-color: rgba(240, 230, 230, 0.637);
}

/* code styling */

.comment {
  color: olivedrab;
}

.variable {
  color: rgb(52, 180, 180);
}

.function {
  color: orangered;
}

.statement {
  color: rgb(231, 127, 231);
}

.tag {
  color: rgb(0, 162, 255);
}

.tab {
  margin-left: 20px !important;
}

.tab-2 {
  margin-left: 60px !important;
}

.tab-3 {
  margin-left: 80px !important;
}

.tab-4 {
  margin-left: 100px !important;
}

.no-padding {
  padding: 0px;
}

.code-line {
  margin-top: -35px;
  margin-left: 20px;
  display: block;
  padding: 10px;
}

.code-margin {
  margin-top: -50px;
}

.code-line-no-margin {
  display: block;
}

/* footer */
footer {
  font-size: 1.3rem;
  font-family: 'Roboto Mono', monospace;
  padding: 30px;
}

footer a:link {
  text-decoration: underline;
}

.footer-section {
  float: left;
  width: 33.33%;
  margin-bottom: 90px;
}

/* components */

toggle-button {
  height: 8px;
  width: 8px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.right {
  margin-bottom: 0px;
  margin-left: -10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  margin-bottom: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* media sizes */

@media only screen and (max-width: 768px) {
  .nav-tabs {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left: -35px;
  }

  .react-logo {
    margin-left: 20px;
  }
    
  .angular-logo {
    margin-left: 20px;
  }
    
  .vue-logo {
    margin-left: 20px;
  }

  .option-column {
    height: 300px;
    margin-bottom: 3px;
  }
}

